---
interface Props {
  text: string;
  mobileVertical?: boolean;
  desktopVertical?: boolean;
  class?: string;
}

const {
  text,
  mobileVertical = false,
  desktopVertical = false,
  class: className = '',
} = Astro.props;
---

<span
  class="text-edge block px-2 text-xl font-semibold tracking-[0.3em]"
  class:list={[
    mobileVertical && 'mobile-vertical',
    desktopVertical && 'desktop-vertical',
    className,
  ]}
>
  {text}
</span>

<style>
  .mobile-vertical {
    writing-mode: vertical-lr;
  }

  @media (min-width: 768px) {
    .desktop-vertical {
      writing-mode: vertical-lr;
    }
  }
</style>
