---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<section class="border border-edge flex-1">
  <div class="container mx-auto border-x border-edge">
    <div class={className}>
      <slot />
    </div>
  </div>
</section>
