---
import Head from '../components/Head.astro';

interface Props {
  siteTitle: string;
  siteDescription: string;
  headerCosmeticText: string;
}

const { siteTitle, siteDescription, headerCosmeticText } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-primary">
  <head>
    <Head pageTitle={siteTitle} pageDescription={siteDescription} />
  </head>
  <body>
    <main class="min-h-svh">
      <slot />
    </main>
  </body>
</html>
